.gauge {
    width: 100px;    
    height: 100px;
    margin-left: 50px;
    margin-top: 10px;
}

.custom_header {
    background: rgb(2,0,36);
    background: linear-gradient(351deg, rgba(2,0,36,1) 0%, rgba(191,191,201,1) 100%, rgba(0,212,255,1) 100%);
}

.loading {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background: #fff;
}

.loader {
    left: 50%;
    margin-left: -4em;
    font-size: 15px;
    border: .8em solid rgba(218, 219, 223, 1);
    border-left: .8em solid #563d7c;
    animation: spin 1.1s infinite linear;
}
.loader, .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.modal_chart {
  height: 400px;
  width: 800px;
}

.bd-navbar {
  min-height: 4rem;
  background-color: #174a07;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.menu-icon-brand {
  font-size: 25px;
  color: white;
}

.menu-icon-brand-copyright {
  font-size: 11px;
  color: white;
}

.menu-icons {
  font-size: 20px;
  color: white;
  padding-right: 10px;
}


.capitalize {
    text-transform: capitalize;   
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
}


.chart-container {
    width: 1510px;
    height:300px
}